
<div class="image-container active" style="height: 625px;">
        <div class="grid">
            <div class="tablerow grow">
                <div class="tablecell headImage fadeImage" style="opacity: 0.7504; background-position: 50% 112.32px;background-image:url('http://www.welt.de/angst/images/titelbilder/sie_mobil_fallback_1.jpg')
"></div>
            </div>
        </div>
        <div class="grid gradiant">
            <div class="tablerow grow">
                <div class="tablecell flow"></div>
            </div>
        </div>
        <div class="image-container-content">
            <h1>Was Experten sagen</h1>

            <div class="scroll-down">
                <i class="icon icon-scroll_arrow_down"></i>
                <span>Zu den Beiträgen</span>
            </div>
        </div>
    </div>


<ul class="grid" article-cards>
</ul>

<div class="overlay-article glossar-overlay">
	<div class="overlay-article-content" ui-view></div>
</div>