<footer class="page-footer">
    <div class="text-center">
        <div class="page-footer-logo">
            <span class="footer-brand-intro">
                Ein interaktives Feature von
            </span>
            <a name="_PE_angst_footer_welt_" href="http://welt.de"><img src="http://www.welt.de/angst/images/welt_logo.png" alt="DIE WELT" class="footer-brand-logo"></a>
        </div>

        <div class="row">
            <div class="page-footer-socialbar pull-left">
                <span class="sharebar-headline">
                    Weiterempfehlen
                </span>
                <a name="_PE_angst_footer_social_facebook_" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.welt.de%2Fangst%2F" target="_blank" class="site-navigation-social-facebook">
                    <i class="icon-facebook"></i>
                </a>
                <a name="_PE_angst_footer_social_twitter_" href="https://twitter.com/share?url=http%3A%2F%2Fwww.welt.de%2Fangst%2F&amp;text=Wir%20haben%20Angst%20%E2%80%93%20Ein%20interaktives%20Special%20%C3%BCber%20unser%20st%C3%A4rkstes%20Gef%C3%BChl.%20%23WirhabenAngst&amp;via=welt" target="_blank" class="site-navigation-social-twitter">
                    <i class="icon-twitter"></i>
                </a>
                <a name="_PE_angst_footer_social_google_" href="https://plus.google.com/share?url=http%3A%2F%2Fwww.welt.de%2Fangst%2F" target="_blank" class="site-navigation-social-google">
                    <i class="icon-google"></i>
                </a>
                <a name="_PE_angst_footer_social_mail_" href="mailto:%20?subject=Artikelempfehlung&amp;body=Sie%20l%C3%A4hmt%20uns.%20Sie%20treibt%20uns%20zu%20H%C3%B6chstleistungen.%20Sie%20macht%20uns%20krank.%20Wir%20haben%20Angst%20%E2%80%93%20ein%20interaktives%20Special%20%C3%BCber%20unser%20st%C3%A4rkstes%20Gef%C3%BChl.%20%23WirhabenAngst%20http%3A%2F%2Fwww.welt.de%2Fangst%2F" class="site-navigation-social-mail">
                    <i class="icon-mail"></i>
                </a>
            </div>
            <ul class="page-footer-links pull-right">
                <li><a href="http://welt.de/services/article7807943/Datenschutzerklaerung-WELT-DIGITAL.html" name="_PE_angst_footer_datenschutz_" target="_blank">Datenschutz</a></li>
                <li><a href="http://www.welt.de/agb/" name="_PE_angst_footer_agb_" target="_blank">AGB</a></li>
                <li><a href="/angst/impressum.html" name="_PE_angst_footer_impressum_">Impressum</a></li>
            </ul>
        </div>

        <div class="row">
            <span class="page-footer-feedback pull-left">
                <a href="/article133711455/?noredirect=true&amp;config=standalone" data-overlay="/article133711455/?noredirect=true&amp;config=standalone" class="js-open-overlay" target="_blank" name="_PE_angst_footer_feedback_">Feedback
                    geben</a>
            </span>
            <span class="page-footer-copyright pull-right">
                © WeltN24 GmbH 2015. Alle Rechte vorbehalten.
            </span>
        </div>
    </div>
</footer>