<header class="site-header" id="back-to-top-target">
    <a ui-sref="start" name="_PE_angst_header_logo_" class="header-logo">
    <img src="http://www.welt.de/angst/images/icons/logo_angst.svg?v=1017" alt="Angst Logo" class="site-header-logo">
</a>
<a ui-sref="start" name="_PE_angst_header_logo_" class="header-logo-fallback">
    <img src="http://www.welt.de/angst/images/angstLogo.png?v=1017" alt="Angst Logo" class="site-header-logo">
</a>

    <span class="btn btn-link site-header-navigation-button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 71.9 68.1"><g><rect x="1" y="58.2" width="70.1" height="8.5"></rect><rect x="1" y="1" width="70.1" height="8.5"></rect><rect x="1" y="29.6" width="70.1" height="8.5"></rect></g></svg>

    </span>
</header>