header,footer {
	/*border:1px solid blue;*/
}
footer {
	margin-top:1rem;
	text-align:center;
}
.articleCard {
	
	margin-bottom:1rem;
	img {
		max-width:100%;
	}
	.original {
		display:none;
	}
	.card {
		background-color:#ececec;
	}
} 
li {
	list-style:none;
}
ul,ol {
	margin:0;
	padding:0;
}
.responsiveVideo {
	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
}
.videoContainer {
	position: relative;
  	padding-bottom: 56.25%;
  	height: 0;
  	overflow: hidden;
}